.mat-drawer-container {
    min-height: 100dvh;
}

.example-spacer {
    flex: 1 1 auto;
}

.sidenav {
    width: 300px;
}

.logo-container {
    height: 64px;
    padding: 0;
    margin: 0;
    border-bottom-color: var(--mat-sidenav-container-divider-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    img {
        width: 100%;
        cursor: pointer;
    }
}